<h1>トップページ</h1>

<table class="top_page">
  <tr>
    <td colspan="4"><%= link_to "蔵書一覧", books_path %></td>
  </tr>
  <tr>
    <td colspan="4">
      <% if current_user.can_manage? %>
        <%= link_to "ユーザー一覧", users_path %>
      <% end %>
    </td>
  </tr>
  <% if current_user.is_admin? %>
    <tr>
      <td><%= link_to "階層", floors_path %></td>
      <td><%= link_to "棚", cabinets_path %></td>
      <td><%= link_to "段", steps_path %></td>
      <td><%= link_to "本の種類", categories_path %></td>
    </tr>
  <% else %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
  <% if current_user.can_manage? %>
    <tr>
      <td colspan="4"><%= link_to "ログ一覧", logs_path %></td>
    </tr>
  <% end %>
</table>
