<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% unless current_user.is_ippan? %>
      <%= form.label :enabled, style: "display: block" %>
      <%= form.checkbox :enabled %>
    <% else %>
      <strong>Enabled:</strong>
      <%= user.enabled %>
    <% end %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <% if current_user.is_admin? %>
      <%= form.label :is_admin, style: "display: block" %>
      <%= form.checkbox :is_admin %>
    <% elsif current_user.is_librarian? %>
      <strong>Is admin:</strong>
      <%= user.is_admin %>
    <% end %>
  </div>

  <div>
    <% if current_user.is_admin? %>
      <%= form.label :is_librarian, style: "display: block" %>
      <%= form.checkbox :is_librarian %>
    <% elsif current_user.is_librarian? %>
      <strong>Is librarian:</strong>
      <%= user.is_librarian %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
