<div id="<%= dom_id user %>">
  <div>
    <strong>Enabled:</strong>
    <%= user.enabled %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= user.name %>
  </div>

  <div>
    <strong>Is admin:</strong>
    <%= user.is_admin %>
  </div>

  <div>
    <strong>Is librarian:</strong>
    <%= user.is_librarian %>
  </div>

</div>
