<p style="color: green"><%= notice %></p>

<%= render @user %>

<% if current_user.can_manage? %>
  <div>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
    <%= link_to "Back to users", users_path %>
  
    <% if current_user.is_admin? %>
      <%= button_to "Destroy this user", @user, method: :delete %>
    <% end %>
  </div>
<% end %>
