<div id="<%= dom_id book %>">
  <div>
    <strong>Enabled:</strong>
    <%= book.enabled %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= book.name %>
  </div>

  <div>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= book.category_id %>
  </div>

  <div>
    <strong>Step:</strong>
    <%= book.step_id %>
  </div>

  <div>
    <strong>Memo:</strong>
    <%= book.memo %>
  </div>

</div>
