<div id="<%= dom_id book %>">
  <div>
    <strong>Status:</strong>
    <%= @status_list[@latest_statuses[book.id]] %>
  </div>

  <div>
    <strong>Enabled:</strong>
    <%= book.enabled %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= book.name %>
  </div>

  <div>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= @category_list[book.category_id] %>
  </div>

  <div>
    <strong>Step:</strong>
    <%= @step_list[book.step_id] %>
  </div>

  <div>
    <strong>Memo:</strong>
    <%= book.memo %>
  </div>

</div>
