<div 
   data-controller="select-place"
   data-select-place-url-value="<%= select_place_steps_path %>"
   data-select-place-is-step-form-exist-value="false"
>
<%= form_with(model: step) do |form| %>
  <% if step.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
        <% step.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :enabled, style: "display: block" %>
    <%= form.checkbox :enabled %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :cabinet_id, style: "display: block" %>
    <%= select_tag :floor_id,
      options_from_collection_for_select(@floors, :id, :name, step.cabinet&.floor_id),
      include_blank: "選択してください",
      data: {
        action: "change->select-place#changeFloor",
        select_place_target: "floor"
      }
    %>
    <%= render partial: "select_place" %>
  </div>

  <div>
    <%= form.submit "Update Step", data: { action: "click->select-place#checkParams" } %>
  </div>
<% end %>
</div> <!-- select-place -->
